@model IEnumerable<EventEaseVenueBookingApp.Models.Booking>

@{
    ViewData["Title"] = "Booking Information";
}

<h1>Booking</h1>

<form asp-action="Index" method="get">
 <div class="form-group">
     <input type="text" name="searchString" class="form-control" placeholder="Search either VenueName or EventName"
 </div>
    <button type="submit" class="btn btn-primary mt-2">Search</button>
</form>

@{
    var successMessage = TempData["SuccessMessage"];
    if (!string.IsNullOrEmpty(successMessage?.ToString()))
    {
        <div class="alert alert-success">
            @successMessage
        </div>
    }
}

<p>
    <a asp-action="Create">Create New</a>
</p>
<table class="table">
    <thead>
        <tr>
            <th>
               BookingID
            </th>
            <th>
               BookingDate
            </th>
            <th>
                VenueName
            </th>
            <th>
                EventName
            </th>
            <th></th>
        </tr>
    </thead>
    <tbody>
        @foreach (var booking in Model)
        {
            <tr>
                <td>
                    @booking.BookingID)
                </td>
                <td>
                    @booking.BookingDate.ToString("yyyy-MM-dd")
                </td>
                <td>
                    @booking.Venue?.VenueName
                </td>
                <td>
                    @booking.Event?.EventName
                </td>
                <td>
                    <a asp-action="Edit" asp-route-id="@booking.BookingID">Update</a> |
                    <a asp-action="Details" asp-route-id="@booking.BookingID">View</a> |
                    <a asp-action="Delete" asp-route-id="@booking.BookingID">Delete</a>
                </td>
            </tr>
        }
    </tbody>
</table>
