@model IEnumerable<EventEaseVenueBookingApp.Models.Venue>

@{
    ViewData["Title"] = "Venue Information";
}

<h1>Venue</h1>

@{
    var successMessage = TempData["SuccessMessage"];
    if (!string.IsNullOrEmpty(successMessage?.ToString()))
    {
        <div class="alert alert-success">
            @successMessage
        </div>
    }
}

<p>
    <a asp-action="Create">Create New</a>
</p>
<table class="table">
    <thead>
        <tr>
            <th>
                @Html.DisplayNameFor(model => model.VenueID) 
            </th>
            <th>
                @Html.DisplayNameFor(model => model.VenueName)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.VenueLocation)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.VenueCapacity)
            </th>
            <th>
                Venue Image
            </th>
            <th></th>
        </tr>
    </thead>
    <tbody>
@foreach (var item in Model) {
        <tr>
            <td>
                @Html.DisplayFor(modelItem => item.VenueID)  
           </td>
            <td>
                @Html.DisplayFor(modelItem => item.VenueName)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.VenueLocation)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.VenueCapacity)
            </td>
            <td>
                @if (!string.IsNullOrEmpty(item.ImageURL))
                {
                 <img src="@item.ImageURL" alt="Venue Image" width="100" height="100" style="object-fit:cover; border-radius:8px;" />
                }
                else
                {
                 <span>No Image</span>
                }
            </td>
            <td>
                <a asp-action="Edit" asp-route-id="@item.VenueID">Update</a> |
                <a asp-action="Details" asp-route-id="@item.VenueID">View</a> |
                <a asp-action="Delete" asp-route-id="@item.VenueID">Delete</a>
            </td>
        </tr>
}
    </tbody>
</table>
